html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: grid;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background: url('/img/country-quilt-dark.png');
  color: #ddd;
  grid-template-areas: "l r";
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;        
}

.left {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: l;
  border-right: 4px dotted rgba(255, 127, 0, .5);
}

.left>div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left .hl {
  /* color: orange; */
  color: rgba(255, 127, 0, .8);
}

.left p {
  padding: 0 1em;
}

.left .intro {
  font-size: 3.3em;
  text-align: center;
}

.left .description {
  text-align: center;
  font-size: 1.6em;
  padding-top: 1em;
  line-height: 1.3em;
}

.left .mail {
  padding: 2em;
}

.left .mail a {
  color: #888;
  font-size: 1.3em;
}

.right {
  width: 40vw;
  grid-area: r;
}

.right .image {
  height: 50vh;
  overflow: hidden;
  opacity: .8;
}

.right .image figure {
  width: 100%;
}

.right .image img {
  height: 50vh;
  min-width: 40vw;
}

.right .image figcaption {
  position: relative;
  margin-top: -8vh;
  height: 8vh;
  font-size: 1.3em;
  text-align: center;
  background: rgba(0, 0, 0, .7);
  padding: .3em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.right .links {
  height: 50vh;
  background: rgba(255, 127, 0, .7);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.right .links ul {
  /* list-style: circle; */
  text-align: center;
}

.right .links li {
  padding: .5em 0;
}

.right .links a {
  color: #000;
  text-decoration: none;
}

.right .links a:hover {
  color: #222;
}

@media screen and (max-width: 768px) {

  main {
    grid-template-areas: 
                        "l l"
                        "r r";
  }
  
  .left, .right {
    width: 100vw;
  }

  .left {
    height: 50vh;
    border: none;
  }

  .right .image {
    display: none;
  }

  .right {
    border-top: 4px dotted rgba(255, 127, 0, .5);
    align-self: flex-end;
  }
}