{{ partial "head" . }}

<main>
  <div class="left">
    <div>
      <p class="intro">Hi! I'm <span class="hl">Darko</span>.</p>
      <p class="description">
        I do software, mostly of the web persuasion.
      </p>
    </div>  
    <p class="mail">
      <a href="mailto:hello@mail.darko.io">hello@mail.darko.io</a>
    </p>
  </div>
  <div class="right">
    <div class="image">
      <figure>
        <img src="/img/bjs_ollie.jpg" />
        <figcaption>Speaking at a local meetup</figcaption>
      </figure>
    </div>
    <div class="links">
      <ul>
        <li><a href="https://blog.darko.io">~Blog~</a></li>
        <li><a href="https://github.com/dbozhinovski">~Github~</a></li>
        <li><a href="https://twitter.com/d_bozhinovski">~Twitter~</a></li>
        <li><a href="https://portfolio.darko.io">~Portfolio~</a></li>
      </ul>
    </div>
  </div>
</main>

{{ partial "footer" . }}